<div class="header">
  <a href="#default" class="logo">Infinity Creations</a>
  <div class="header-right">
    <a class="active" href="#home">Facturar</a>
    <a href="#contact">Historico</a>
    <a href="#about">Productos</a>
  </div>
</div>