.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
    font-size: 12px;
  }

  .cliente{
      font-size: xx-large;
  }

  .example-button-row button,
.example-button-row a {
  margin-right: 8px;
}