<div class="container">
  <div class="row my-3">
    <div class="col-lg-1">

    </div>
    <div class="col-lg-4">
      <span class="cliente">Cliente</span>
      <form class="example-form px-2">
        <mat-form-field class="example-full-width">
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="Nombre">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Cédula</mat-label>
          <input matInput placeholder="N° Cédula">
        </mat-form-field>
      </form>
    </div>

    <div class="col-lg-3">

    </div>

    <div class="col-lg-4">
      <span class="cliente">Productos</span>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input type="text" placeholder="Producto" aria-label="Number" matInput [formControl]="myControl"
            [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of options" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>

      <div class="example-button-row">
        <button mat-stroked-button (click)="openModal()">Ver Productos</button>
      </div>
    </div>

    
  </div>
</div>


<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Descripción</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Valor</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of productos; index as i">
      <th scope="row">{{ item.nombre }}</th>
      <td>
        {{ item.descripcion }}
      </td>
      <td>1</td>
      <td>{{ item.valor }}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td></td>
      <td>Sub-total:</td>
      <td>{{total}}</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>Iva(19%):</td>
      <td>{{total*0.19}}</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>Total:</td>
      <td>{{total*(0.19+1)}}</td>
    </tr>
  </tfoot>
</table>