<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Código</th>
      <th scope="col">Nombre</th>
      <th scope="col">Valor</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Seleccionar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of lstProductos; index as i">
      <th scope="row">{{ item.codigo }}</th>
      <td>
        {{ item.nombre }}
      </td>
      <td>{{ item.valor }}</td>
      <td>{{ item.stock | number }}</td>
      <th><mat-checkbox (change)="Seleccionar(i)"></mat-checkbox></th>
    </tr>
  </tbody>
</table>

<div class="example-button-row">
  <button mat-stroked-button (click)="Aceptar()">Aceptar</button>
</div>
<div class="example-button-row">
  <button mat-stroked-button (click)="Cancelar()">Cancelar</button>
</div>
